<%= form_for(appointment) do |f| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_name %>
    <%= f.text_field :customer_name %>
  </div>

  <%#<div class="field">
    <%= f.label :start_time %>
   <%# <%= f.time_select :start_time, ampm: true %>
  <%#</div>%>

    <div class="field">
      <%= f.label :timeslot_id %>
      <%= f.collection_select :timeslot_id, Timeslot.all, :id, :start_end_timeslot, :prompt => true %>
    </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :employee_id %>
    <%= f.collection_select :employee_id, Employee.all, :id, :first_last_name, :prompt => true %>
  </div>

  <div class="field">
    <%= f.label :activity_id %>
    <%= f.collection_select :activity_id, Activity.all, :id, :name %>
  </div>

 <%# <div class="field">
    <%= f.label :price %>
   <%# <%= f.text_field :price %>
  <%#</div>%>

  <%#<div class="field">
    <%= f.label :duration %>
   <%# <%= f.number_field :duration %>
  <%#</div>%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
