<!DOCTYPE html>
<html>
<%= link_to 'Shifts', shifts_path %>
<%= link_to 'Employees', employees_path %>
<%= link_to 'Activites', activities_path %>
<%= link_to 'Appointments', appointments_path %>
<%= link_to 'Timeslots', timeslots_path %>

  <head>
    <title>KwashleyProjectCis4339</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
